*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
  width: 100%;
  display: flex;
  height: 90vh;
}
/* lateral bar*/
.lateral-bar{
  width: 45vh;
  height: 90vh;
  background-color: white;
}

.logo{
  display: flex;
  flex-direction: row;
}

.navbar1 li{
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.flex-container2{
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  height: 90vh;
}

/* top-bar */
.top-bar{
  width: 100%;
  height: 10vh;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-bar ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.top-bar li{
  padding: 17px;
}

.top-bar a{
  text-decoration: none;
  color: grey;
}

.top-bar a:hover {
  color: white;
}

/* music container */
.music-container{
  width: 100%;
  height: 80vh;
  background-color: grey;
  overflow-y: scroll;
}

.recent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* bar riproduction container */
.bottom-bar{
  width: 100%;
  height: 10vh;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar i:hover{
  color: white;
}

.song{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
