*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
@font-face {
  font-family: 'spotify-circular';
  src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2')
  format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff')
  format('woff'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf')
  format('truetype');
  }

body{
  font-family: "spotify-circular";
}

  /* flex container */
.flex-container{
  width: 100%;
  display: flex;
  height: 85vh;
}
/* lateral bar*/
.lateral-bar{
  width: 42.5vh;
  height: 85vh;
  background-color: #030509;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

/* logo */
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo i{
  font-size: 40px;
}

.logo h3{
  font-size: 27px;
  margin-left: 5px;
}

/* navbar1 */
.navbar1{
  padding-top: 10px;
}

.navbar1 a{
  text-decoration: none;
  color:darkgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar1 h4{
  font-size: 14px;
}

.navbar1 a:hover{
  color: white;
}

.navbar1 ul{
  list-style-type: none;
}

.navbar1 li{
  margin-top: 20px;
}

#border1{
  border-left: 3px solid #1ed760;
}

.navbar1 img{
  width: 22px;
}

/* playlist */
.playlist{
  padding-top: 25px;
  font-size: 14px;
}

.createplaylist{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.createplaylist img{
  width: 40px;
  padding-right: 10px;
  padding-left: 3px;
}

/* download */
.download{
  padding-top: 55px;
  align-items: center;
}

.download i{
  font-size: 16px;
  padding-left: 5px;
  padding-right: 13px;
}

.download a{
  text-decoration: none;
  color: darkgrey;
}

.download a:hover{
  color: white;
}

.download hr{
  margin-top: 10px;
}

/* user name */
.user{
  padding-top: 5px;
}

.user i{
  font-size: 16px;
  padding-left: 5px;
  padding-right: 13px;
}

.user a{
  text-decoration: none;
  color: white;
}


/* flex container 2 */
.flex-container2{
  height: 85vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to left, #030118 0%, #262652 100%);
}

/* top-bar */
.top-bar{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-bar ul{
  display: flex;
  flex-direction: row;
  align-items:baseline;
  list-style-type: none;
}

.top-bar li{
  margin: 30px;
  font-size: 12px;
}

#border2{
  border-bottom: 3px solid #1ed760;
  padding-bottom: 5px;
}

.top-bar a{
  text-decoration: none;
  color: grey;
}

.top-bar a:hover {
  color: white;
}

/* music container */
.music-container{
  width: 100%;
  height: 57.5vh;
  padding-top: 20px;
  overflow-y: auto;
}

.selection{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:baseline;
  padding-left: 25px;
  color: white;
}

.selection h2{
  font-size: 38px;
}

.selection h2:hover{
  border-bottom: 1px solid white;
}

.selection a{
  font-size: 14px;
  text-decoration: none;
  color: grey;
  padding-right: 25px;
}

.selection a:hover{
  color: white;
}

.txt{
  color: grey;
  padding-left: 25px;
}

.cover{
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.cover li{
  display: inline-block;
  width: calc((100%/6) - 4px);
}

.cover img{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.cover h5{
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.circle{
  border-radius: 50%;
}

.box{
  position: relative;
}

.layover{
  max-width: 100%;
  display: none;
}

.layover i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: white;
}

li:hover .layover{
  display: block;
}

/* advertisement */
.advertisement-space{
  width: 100%;
  height: 17.5vh;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertisement{
  width: 65%;
  height: 85%;
  background-color: #151315;
}

/* bar riproduction container */
.bottom-bar{
  width: 100%;
  height: 15vh;
  background-color:#282828;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar i:hover{
  color: white;
}

/* song */
.track{
  width: 25%;
  display: flex;
  flex-direction: row;
  padding: 15px;
  color: darkgrey;
}

.track-cover i{
  font-size: 65px;
}

.track-details{
  margin: 10px;
  padding-left: 20px;
}

#trackname{
  color: white;
}

#trackname:hover, #artist:hover{
  color: white;
  border-bottom: 1px solid white;
}

.track-icon{
  padding-top: 25px;
  padding-left: 20px;
}

/* riproduction bar */
.riproduction-bar{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-bar i{
  padding: 15px;
  color: darkgrey;
}

#start{
  font-size: 22px;
}

.timebar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timebar p{
  font-size: 11px;
  color: darkgrey;
  padding: 8px;
}

.duration-bar{
  width: 65%;
  height: 3px;
  margin-top: 3px;
  background-color: darkgrey;
}

/* others elements */
.others-elements{
  width: 25%;
  display: flex;
  justify-content: center;
}

.others-elements i{
  padding: 9px;
  font-size: 14px;
  color: darkgrey;
}

.volume{
  width: 30%;
  height: 3px;
  background-color: darkgrey;
  margin-top: 15px;
}
